@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&family=Inter:wght@300;400;500;600;800&family=JetBrains+Mono:wght@400;500&family=Herr+Von+Muellerhoff&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, monospace;
  --font-serif: 'Cinzel', Georgia, serif;
  --font-hand: 'Herr Von Muellerhoff', cursive;
}

/* Custom Smooth Scroll */
html {
  scroll-behavior: smooth;
  background-color: #000000;
}

/* Luxury Slate Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cf9b2a;
}

